[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
pandas = "*"
numpy = "*"
sentence-transformers = "*"
faker = "*"
psycopg2-binary = {version = "==2.9.3", index = "testpypi"}

[dev-packages]

[requires]
python_version = "3.12"
